.modal2{
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  transform: translate(-50%,-50%);
  // background: linear-gradient(90deg, rgba(237,233,233,1) 0%, rgba(255,255,255,1) 50%, rgba(237,233,233,1) 100%);
  background: rgba($color-Spring-green,.7);
  // border: 2px solid $color-black;
  width:62%;
  height:95%;
  z-index: 10000;
  top:50%;
  left: 50%;
  font-size: 2rem;
  animation: modal .3s ease-out;
  border-radius: 8px;
  @include respond(tab-port){
    // .modal2{
    width:66.5%;
    height:95%;
    // }
  }
}
@keyframes modal {
    0%{
      top:-10%;
      opacity: 0.5;
    }
    100%{
      top:50%;
      opacity: 1;
    }
}
.modalCross{
  position: absolute;
  font-size: 2.5rem;
  font-weight: bolder;
  background:$color-white;
  bottom: 1rem;
  right:1rem;
  padding: .6rem .8rem;
  box-shadow: 0 0 1rem $color-black;
  border-radius: 50%;
  transition: all .2s;
  &:hover,&:active{
    border-bottom: 20px solid $color-secondary-warning;
    background: $color-black;
    color: $color-white;
    box-shadow: 0 0 0rem $color-black;
  }
}
@include respond(phone){
  .modal2{
    width:85%;
    height:95%;
  }
}
.modal3{

  & img{
    width: 100%;
    padding: 2rem;
  }
}
